
/* ---------- Dark mode button ------------ starts*/
.toggle-wrapper {
    margin: 0 auto;
}
@media screen and (max-width: 900px) {
    .toggle-wrapper {
        display: none !important; 
    }
}
.toggleButton {
    height: 41px !important;
    margin: 0 auto !important;
}
/* ---------- Dark mode button ------------ ends*/
